# Python virtual environments
BackEnd/.venv/

# Bytecode cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# IDE/editor settings
.vscode/
.idea/

# Local environment files
.env
.env.*

# Log files
*.log

# Database files
*.sqlite3
*.db
*.sqlite

# OS files
.DS_Store
Thumbs.db
BackEnd/pip_cache/http-v2/2/a/4/1/c/2a41cb8e405637e51ada370419ba2d90cff5ec7779741a4b3b53a257
BackEnd/pip_cache/http-v2/2/a/4/1/c/2a41cb8e405637e51ada370419ba2d90cff5ec7779741a4b3b53a257.body
BackEnd/pip_cache/http-v2/8/0/6/3/6/806366e41f528c7b7fbd8d56ea0250ba9ebcf4270a1af519a9bb79da
BackEnd/app/config.py
